@charset "utf-8";
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, tt, var, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	outline:0;
	padding:0;
	margin:0;
	border:0;
	text-align:left;
	font-style:normal;
	word-wrap:break-word;
}
:focus {
	outline:0;
}
body {
	font-family:"Microsoft Yahei", "STHeiti", "SimSun", "Arail", "Verdana", "Helvetica", "sans-serif";
	color:#999;
	font-size:12px;
}
ol, ul, li {
	list-style:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;

}
caption, th, td {
	font-weight:normal;
	text-align:left;
	vertical-align:top;
}
a:link, a:visited {
	font-family:"Microsoft Yahei";
	color:#a9a9a9;
	text-decoration:none;
}
a:hover {
	font-family:"Microsoft Yahei";
	color:#a9a9a9;
	text-decoration:underline;
}
body {
	background:#eeefef;
}
.recommendWrap {
	width:855px;
	margin:27px auto;
}
.recommendWrap .hd, .recommendWrap .ft {
	width:855px;
	height:8px;
	background:url(../images/recom_bg.png) no-repeat;
	overflow:hidden;
}
.recommendWrap .ft {
	background-position:0 -8px;
}
.recommendWrap .bd {
	width:855px;
	background:url(../images/recom_bh.png) repeat-y;
	overflow:auto;
}
.recommendSort {
	position:relative;
	width:850px;
	margin:0 auto 25px;
	overflow:hidden;
}
.sortNav {
	float:left;
	_display:inline;
	margin:23px 0 0 28px;
}
.sortNav .hd, .sortNav .ft {
	width:560px;
	height:5px;
	background:url(../images/recom_na.png) no-repeat;
	overflow:hidden;
}
.sortNav .ft {
	background-position:0 -5px;
}
.sortNav .bd {
	width:560px;
	padding:5px 0 3px;
	background:url(../images/recom_nb.png) repeat-y;
	overflow:hidden;
}
.sortNav .bd h3 {
	padding:0 12px;
	font-size:18px;
	color:#333;
	font-weight:normal;
}
.sortNav .bd ul {
	margin:6px 0 0 0;
	overflow:auto;
	line-height:30px;
	font-family:"Microsoft Yahei";
	font-size:14px;
	color:#333;
}
.sortNav .bd ul li {
	float:left;
	_display:inline;
	width:43px;
	margin-left:13px;
	text-align:left;
	overflow:hidden;
	background:url(../images/ico_navl.png) right no-repeat;
}
.sortNav .bd ul li.current {
	font-weight:bold;
	font-size:16px;
}
.sortNav .bd ul li.nobg {
	background:none;
}
.sortNav .bd ul li a, .recommendSort ul li a:link {
	color:#333;
	text-decoration:none;
}
.sortNav .bd ul li a:hover {
	color:#333;
	text-decoration:none;
}
.recommendSort .btnRecommend {
	width:233px;
	height:39px;
	background:url(../images/bg_recom.png) no-repeat;
	float:left;
	margin:22px 0 0 9px;
	position:relative;
	font-size:14px;
	padding-top:70px;
}
.recommendSort P {
	opacity:0.6;
	font-size:18px;
	font-weight:bold;
	font-style:italic;
	width:95%;
	color:#3e8ac6;
	display:block;
	text-align:center
}
.recommendSort .btnRecommend a {
	position:absolute;
	bottom:4px;
	left:36px;
	width:159px;
	height:37px;
	background:url(../images/btn_reco.png) no-repeat;
	text-indent:-9999px;
	
}
.recommendSort .btnRecommend a:hover {
	background-position:0 -37px;
}
.recommendShow {
	width:850px;
	margin:0 auto;
*zoom:1;
}
.recommendShow .col {
	width:253px;
	float:left;
	_display:inline;
	margin-left:21px;
}
.recommendShow .lft {
	margin-left:26px;
}
.mod {
	width:253px;
	padding-bottom:17px;
	zoom:1
}
.mod .hd {
	width:253px;
	height:9px;
	background:url(../images/recmod_t.png) no-repeat;
	overflow:hidden;
}
.mod .bd {
	position:relative;
	padding:9px 15px 42px 19px;
	width:219px;
	background:url(../images/recmod_c.png) repeat-y;
	overflow:visible;
	zoom:1;
}
.mod .nobd {
	position:relative;
	padding:0px 15px 42px 19px;
	width:219px;
	height:139px;
	background:url(../images/norecmod_c.png) no-repeat;
	overflow:visible;
	zoom:1;
}
.mod .nobd span {
	opacity:0.6;
	font-size:50px;
	font-weight:bold;
	font-style:italic;
	width:90%;
	padding-top:20px;
	color:#3e8ac6;
	display:block;
	text-align:center
}
.mod .nobd a{
width:200px; height:50px; display:block; margin-left:15px; text-indent:-9999px; text-decoration:none
}
.mod .bd .btm, .mod .nobd .btm {
	position:absolute;
	bottom:0;
	_bottom:-4px;
	left:0;
	z-index:2;
	width:253px;
	height:42px;
	background:url(../images/recmod_b.png) no-repeat;
	overflow:hidden
}
.mod .headPic {
	width:60px;
	height:60px;
	float:left;
	margin-right:10px;
	_display:inline;
	overflow:hidden;
}
.mod .headPic span {
	position:absolute;
	z-index:10;
	width:60px;
	height:60px;
	background:url(../images/mask_hea.png) no-repeat;
}
.mod .bd h3 {
	float:left;
	width:148px;
	font-size:26px;
	font-weight:normal;
	line-height:32px;
	color:#000;
	text-align:left;
	margin-top:-4px;
}
.mod .bd h3 a, .mod .bd h3 a:link {
	color:#000;
	text-decoration:none;
}
.mod .bd h3 a:hover {
	color:#000;
	text-decoration:none;
}
.mod p {
	display:block;
	clear:both;
	padding-top:10px;
	font-size:12px;
	line-height:21px;
	color:#333;
	overflow:hidden;
	zoom:1
}
.btnFgray, .btnFgray span, .btnF, .btnF span {
	width:69px;
	height:24px;
	line-height:24px;
	background:#84BCE2;
	cursor:pointer;
	display:inline-block;
	color:#fff;
	_zoom:1;
	overflow:hidden;
	text-align:center;
}
.z_ico_likeMk {
	display:block;
	padding-left:20px;
	background:url(../images/ico_like.png) no-repeat 0 0;
	height:14px;
	line-height:13px;
	font-size:13px;
	color:#202020;
	cursor:default;
	overflow:hidden;
}
.mod .bd .z_ico_likeMk {
	margin-top:8px;
}
